{% extends "base.html" %}

{% block content %}

<h2>Edit Student</h2>

<form method="post">

    {% csrf_token %}

    Name:
    <input type="text"
           name="name"
           value="{{ student.name }}">
    <br><br>

    Branch:
    <input type="text"
           name="branch"
           value="{{ student.branch }}">
    <br><br>

    Semester:
    <input type="number"
           name="sem"
           value="{{ student.sem}}">
    <br><br>

    Email:
    <input type="email"
           name="email"
           value="{{ student.email }}">
    <br><br>

    <input type="submit" value="Update">

</form>

{% endblock %}